# Test Results — TASK-05
**Date:** 2026-05-10T23:42:06.406011
**Component:** fullstack

## Backend (Pytest)
- Mode: SIMULATED
- Tests: 3 | Passed: 3 | Failed: 0
- Status: PASS

## Frontend (Jest)
- Mode: SIMULATED
- Tests: 2 | Passed: 2 | Failed: 0
- Status: PASS

## Overall: PASS

---
## TASK-01 — 2026-05-10T23:50:16.804743
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-10T23:50:55.134532
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T17:14:06.195307
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-11T17:14:54.459574
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T17:31:18.406536
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
  error: subprocess-exited-with-error
  
  × Building wheel for pydantic-core (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [59 lines of output]
      Python reports SOABI: cp314-win_amd64
      Computed rustc target triple: x86_64-pc-windows-msvc
      Installation directory: C:\Users\Admin\AppData\Local\puccinialin\puccinialin\Cache
      Rustup al
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T18:06:20.504579
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
  error: subprocess-exited-with-error
  
  × Building wheel for pydantic-core (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [59 lines of output]
      Python reports SOABI: cp314-win_amd64
      Computed rustc target triple: x86_64-pc-windows-msvc
      Installation directory: C:\Users\Admin\AppData\Local\puccinialin\puccinialin\Cache
      Rustup al
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T18:07:27.052402
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
  error: subprocess-exited-with-error
  
  × Building wheel for pydantic-core (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [59 lines of output]
      Python reports SOABI: cp314-win_amd64
      Computed rustc target triple: x86_64-pc-windows-msvc
      Installation directory: C:\Users\Admin\AppData\Local\puccinialin\puccinialin\Cache
      Rustup al
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T18:08:36.162458
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
  error: subprocess-exited-with-error
  
  × Building wheel for pydantic-core (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [59 lines of output]
      Python reports SOABI: cp314-win_amd64
      Computed rustc target triple: x86_64-pc-windows-msvc
      Installation directory: C:\Users\Admin\AppData\Local\puccinialin\puccinialin\Cache
      Rustup al
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T18:09:56.202281
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
  error: subprocess-exited-with-error
  
  × Building wheel for pydantic-core (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [59 lines of output]
      Python reports SOABI: cp314-win_amd64
      Computed rustc target triple: x86_64-pc-windows-msvc
      Installation directory: C:\Users\Admin\AppData\Local\puccinialin\puccinialin\Cache
      Rustup al
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-11T18:11:40.448319
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
  error: subprocess-exited-with-error
  
  × Building wheel for pydantic-core (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [61 lines of output]
      Python reports SOABI: cp314-win_amd64
      Computed rustc target triple: x86_64-pc-windows-msvc
      Installation directory: C:\Users\Admin\AppData\Local\puccinialin\puccinialin\Cache
      Rustup al
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-11T18:13:12.313402
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
  error: subprocess-exited-with-error
  
  × Building wheel for pydantic-core (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [59 lines of output]
      Python reports SOABI: cp314-win_amd64
      Computed rustc target triple: x86_64-pc-windows-msvc
      Installation directory: C:\Users\Admin\AppData\Local\puccinialin\puccinialin\Cache
      Rustup al
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-11T18:14:25.576194
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
  error: subprocess-exited-with-error
  
  × Building wheel for pydantic-core (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [58 lines of output]
      Python reports SOABI: cp314-win_amd64
      Computed rustc target triple: x86_64-pc-windows-msvc
      Installation directory: C:\Users\Admin\AppData\Local\puccinialin\puccinialin\Cache
      Rustup al
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-11T18:17:04.859121
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
  error: subprocess-exited-with-error
  
  × Building wheel for pydantic-core (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [59 lines of output]
      Python reports SOABI: cp314-win_amd64
      Computed rustc target triple: x86_64-pc-windows-msvc
      Installation directory: C:\Users\Admin\AppData\Local\puccinialin\puccinialin\Cache
      Rustup al
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T20:07:07.095717
- Backend: FAIL
- Frontend: PASS

```
Pip install failed:
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'D:\\Intern\\pos-app-pipeline\\.venv\\Lib\\site-packages\\~ydantic_core\\_pydantic_core.cp311-win_amd64.pyd'
Check the permissions.

WARNING: There was an error checking the latest version of pip.

No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T20:08:09.727129
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
platform win32 -- Python 3.11.0, pytest-8.2.2, pluggy-1.6.0 -- D:\Intern\pos-app-pipeline\.venv\Scripts\python.exe
cachedir: .pytest_cache
rootdir: D:\Intern\pos-app-test_v2\src\backend
plugins: anyio-4.13.0
collecting ... collected 0 items / 3 errors

=================================== ERRORS ========================
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T20:16:58.662898
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
platform win32 -- Python 3.11.0, pytest-8.2.2, pluggy-1.6.0 -- D:\Intern\pos-app-test_v2\src\backend\.test-venv\Scripts\python.exe
cachedir: .pytest_cache
rootdir: D:\Intern\pos-app-test_v2\src\backend
plugins: anyio-4.13.0
collecting ... collected 0 items / 3 errors

=================================== ERRORS ========
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T20:18:16.404229
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
platform win32 -- Python 3.11.0, pytest-8.2.2, pluggy-1.6.0 -- D:\Intern\pos-app-test_v2\src\backend\.test-venv\Scripts\python.exe
cachedir: .pytest_cache
rootdir: D:\Intern\pos-app-test_v2\src\backend
plugins: anyio-4.13.0
collecting ... collected 0 items / 3 errors

=================================== ERRORS ========
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T21:10:30.201889
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
platform win32 -- Python 3.11.0, pytest-8.2.2, pluggy-1.6.0 -- D:\Intern\pos-app-test_v2\src\backend\.test-venv\Scripts\python.exe
cachedir: .pytest_cache
rootdir: D:\Intern\pos-app-test_v2\src\backend
plugins: anyio-4.13.0
collecting ... collected 0 items / 3 errors

=================================== ERRORS ========
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-11T21:12:02.063682
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
platform win32 -- Python 3.11.0, pytest-8.2.2, pluggy-1.6.0 -- D:\Intern\pos-app-test_v2\src\backend\.test-venv\Scripts\python.exe
cachedir: .pytest_cache
rootdir: D:\Intern\pos-app-test_v2\src\backend
plugins: anyio-4.13.0
collecting ... collected 0 items / 3 errors

=================================== ERRORS ========
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T09:29:52.287564
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items / 3 errors

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
ImportError while importing test module 'D:\Intern\pos-app-test_v2\src\backend\tests\test_api.py'.
Hint: make sure 
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T09:39:06.747371
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 10 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
ImportError while importing test module 'D:\Intern\pos-app-test_v2\src\backend\tests\test_api.py'.
Hint: make sure 
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T09:40:27.530221
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 10 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
ImportError while importing test module 'D:\Intern\pos-app-test_v2\src\backend\tests\test_api.py'.
Hint: make sure 
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T09:54:56.802910
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 10 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
.test-venv\Lib\site-packages\_pytest\python.py:492: in importtestmodule
    mod = import_path(
.test-venv\Lib\site-
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T15:06:39.293199
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-12T15:07:47.620559
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T16:12:06.120919
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-12T16:12:59.137262
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T16:49:48.103047
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-12T16:50:30.590634
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-03 — 2026-05-12T16:51:12.038459
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T16:57:17.432220
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-12T16:58:00.680198
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T17:12:01.350433
- Backend: PASS
- Frontend: PASS

```
No backend code yet — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-12T17:13:15.388358
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items

============================ no tests ran in 0.00s ============================
ERROR: file or directory not found: tests/


No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-12T17:14:26.638364
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items

============================ no tests ran in 0.00s ============================
ERROR: file or directory not found: tests/


No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-12T17:15:53.087369
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items

============================ no tests ran in 0.00s ============================
ERROR: file or directory not found: tests/


No frontend code yet — simulated PASS
```

---
## TASK-01 — 2026-05-12T17:23:50.854043
- Backend: PASS
- Frontend: PASS

```
No test files found — simulated PASS
No frontend code yet — simulated PASS
```

---
## TASK-02 — 2026-05-12T17:25:41.968243
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 16 items

tests/test_api.py::test_health_check PASSED                              [  6%]
tests/test_api.py::test_create_product PASSED                            [ 12%]
tests/test_api.py::test_get_products PASSED                              [ 18%]
tests/test_api.py::test_get_products_with_sea
No frontend code yet — simulated PASS
```

---
## TASK-01 (backend) — 2026-05-13T09:32:46.505546
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 16 items

tests/test_api.py::test_health_check PASSED                              [  6%]
tests/test_api.py::test_create_product PASSED                            [ 12%]
tests/test_api.py::test_get_products PASSED                              [ 18%]
tests/test_api.py::test_get_products_with_sea
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T10:09:49.957580
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 16 items

tests/test_api.py::test_health_check PASSED                              [  6%]
tests/test_api.py::test_create_product PASSED                            [ 12%]
tests/test_api.py::test_get_products PASSED                              [ 18%]
tests/test_api.py::test_get_products_with_sea
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T10:36:20.157076
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 16 items

tests/test_api.py::test_health_check PASSED                              [  6%]
tests/test_api.py::test_create_product PASSED                            [ 12%]
tests/test_api.py::test_get_products_empty PASSED                        [ 18%]
tests/test_api.py::test_get_products_multiple
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T11:17:53.312844
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 16 items

tests/test_api.py::test_health_check PASSED                              [  6%]
tests/test_api.py::test_create_product PASSED                            [ 12%]
tests/test_api.py::test_get_products PASSED                              [ 18%]
tests/test_api.py::test_get_products_with_sea
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T11:28:15.872910
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 20 items

tests/test_api.py::test_health ERROR                                     [  5%]
tests/test_api.py::test_create_product ERROR                             [ 10%]
tests/test_api.py::test_create_product_invalid_data ERROR                [ 15%]
tests/test_api.py::test_get_products_empty ER
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T13:16:52.234783
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 18 items

tests/test_api.py::test_health PASSED                                    [  5%]
tests/test_api.py::test_create_product FAILED                            [ 11%]
tests/test_api.py::test_get_products_empty FAILED                        [ 16%]
tests/test_api.py::test_get_products_multiple
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T13:26:05.103077
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 16 items

tests/test_api.py::test_health PASSED                                    [  6%]
tests/test_api.py::test_create_product FAILED                            [ 12%]
tests/test_api.py::test_create_product_invalid_data_missing_name PASSED  [ 18%]
tests/test_api.py::test_create_product_invali
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T13:44:23.638145
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 17 items

tests/test_api.py::test_health PASSED                                    [  5%]
tests/test_api.py::test_create_product FAILED                            [ 11%]
tests/test_api.py::test_create_product_invalid_data PASSED               [ 17%]
tests/test_api.py::test_get_products_empty FA
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T14:47:02.822763
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 15 items

tests/test_api.py::test_health PASSED                                    [  6%]
tests/test_api.py::test_create_product FAILED                            [ 13%]
tests/test_api.py::test_get_products_empty FAILED                        [ 20%]
tests/test_api.py::test_get_products_single F
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T14:56:44.126507
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 17 items

tests/test_api.py::test_health_check ERROR                               [  5%]
tests/test_api.py::test_create_product_success ERROR                     [ 11%]
tests/test_api.py::test_create_product_invalid_price ERROR               [ 17%]
tests/test_api.py::test_create_product_invali
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T15:05:31.243346
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 9 items

tests/test_api.py::test_health PASSED                                    [ 11%]
tests/test_api.py::test_create_product PASSED                            [ 22%]
tests/test_api.py::test_get_products PASSED                              [ 33%]
tests/test_api.py::test_get_single_product PAS
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T19:35:47.962425
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 9 items

tests/test_api.py::test_health FAILED                                    [ 11%]
tests/test_api.py::test_create_product PASSED                            [ 22%]
tests/test_api.py::test_get_products FAILED                              [ 33%]
tests/test_api.py::test_get_single_product FAI
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T20:52:51.971178
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 9 items

tests/test_api.py::test_health PASSED                                    [ 11%]
tests/test_api.py::test_create_product FAILED                            [ 22%]
tests/test_api.py::test_get_products FAILED                              [ 33%]
tests/test_api.py::test_get_single_product FAI
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-13T20:54:07.345199
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 9 items

tests/test_api.py::test_health PASSED                                    [ 11%]
tests/test_api.py::test_create_product FAILED                            [ 22%]
tests/test_api.py::test_get_products FAILED                              [ 33%]
tests/test_api.py::test_get_single_product FAI
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T01:17:40.016338
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 9 items

tests/test_api.py::test_health PASSED                                    [ 11%]
tests/test_api.py::test_create_product PASSED                            [ 22%]
tests/test_api.py::test_get_products PASSED                              [ 33%]
tests/test_api.py::test_get_single_product PAS
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T01:32:02.521890
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 9 items

tests/test_api.py::test_health PASSED                                    [ 11%]
tests/test_api.py::test_create_product PASSED                            [ 22%]
tests/test_api.py::test_get_products PASSED                              [ 33%]
tests/test_api.py::test_get_single_product PAS
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T01:38:32.788648
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 9 items

tests/test_api.py::test_health PASSED                                    [ 11%]
tests/test_api.py::test_create_product PASSED                            [ 22%]
tests/test_api.py::test_get_products PASSED                              [ 33%]
tests/test_api.py::test_get_single_product PAS
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T01:45:54.634216
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 9 items

tests/test_api.py::test_health PASSED                                    [ 11%]
tests/test_api.py::test_create_product PASSED                            [ 22%]
tests/test_api.py::test_get_products PASSED                              [ 33%]
tests/test_api.py::test_get_single_product PAS
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T13:51:38.291703
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-02 (frontend) — 2026-05-14T13:52:18.563075
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend code yet — simulated PASS
```

---
## TASK-01 (backend) — 2026-05-14T14:37:48.858460
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_create_product PASSED                            [ 50%]
tests/test_api.py::test_clear_cart PASSED                                [ 75%]
tests/test_api.py::test_checkout FAILED       
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T15:04:51.091518
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
.test-venv\Lib\site-packages\_pytest\python.py:493: in importtestmodule
    mod = import_path(
.test-venv\Lib\site-p
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T15:16:45.036078
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
.test-venv\Lib\site-packages\_pytest\python.py:493: in importtestmodule
    mod = import_path(
.test-venv\Lib\site-p
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T15:24:18.995184
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
.test-venv\Lib\site-packages\_pytest\python.py:493: in importtestmodule
    mod = import_path(
.test-venv\Lib\site-p
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T15:30:18.236357
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 7 items

tests/test_api.py::test_health FAILED                                    [ 14%]
tests/test_api.py::test_products FAILED                                  [ 28%]
tests/test_api.py::test_products_id FAILED                               [ 42%]
tests/test_api.py::test_cart_add FAILED       
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T17:14:41.890920
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 11 items

tests/test_api.py::test_health PASSED                                    [  9%]
tests/test_api.py::test_get_products FAILED                              [ 18%]
tests/test_api.py::test_post_products FAILED                             [ 27%]
tests/test_api.py::test_put_products_id FAILE
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T22:00:36.392648
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
.test-venv\Lib\site-packages\_pytest\python.py:493: in importtestmodule
    mod = import_path(
.test-venv\Lib\site-p
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T22:54:27.082360
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 11 items

tests/test_api.py::test_health PASSED                                    [  9%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 18%]
tests/test_api.py::test_get_products_7ad9f9 FAILED                       [ 27%]
tests/test_api.py::test_get_products_param_6b
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-14T23:26:18.619331
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-02 (frontend) — 2026-05-14T23:27:00.567609
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend code yet — simulated PASS
```

---
## TASK-01 (backend) — 2026-05-15T03:03:27.294800
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
.test-venv\Lib\site-packages\_pytest\python.py:493: in importtestmodule
    mod = import_path(
.test-venv\Lib\site-p
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-15T03:04:26.499067
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
.test-venv\Lib\site-packages\_pytest\python.py:493: in importtestmodule
    mod = import_path(
.test-venv\Lib\site-p
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-15T03:21:40.073100
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 11 items

tests/test_api.py::test_health PASSED                                    [  9%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 18%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 27%]
tests/test_api.py::test_get_products_param_6b
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-15T03:34:32.824602
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 11 items

tests/test_api.py::test_health PASSED                                    [  9%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 18%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 27%]
tests/test_api.py::test_get_products_param_6b
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-15T16:34:50.317283
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 11 items

tests/test_api.py::test_health PASSED                                    [  9%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 18%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 27%]
tests/test_api.py::test_get_products_param_6b
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-15T17:13:22.084976
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 11 items

tests/test_api.py::test_health PASSED                                    [  9%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 18%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 27%]
tests/test_api.py::test_get_products_param_6b
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-15T18:51:24.761587
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 11 items

tests/test_api.py::test_health PASSED                                    [  9%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 18%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 27%]
tests/test_api.py::test_get_products_param_6b
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-17T22:23:55.669365
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 11 items

tests/test_api.py::test_health PASSED                                    [  9%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 18%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 27%]
tests/test_api.py::test_get_products_param_6b
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-17T22:56:31.993056
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 11 items

tests/test_api.py::test_health PASSED                                    [  9%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 18%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 27%]
tests/test_api.py::test_get_products_param_6b
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-17T23:11:40.058406
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-02 (frontend) — 2026-05-17T23:12:32.013730
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-01 (backend) — 2026-05-17T23:22:58.442564
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-02 (frontend) — 2026-05-17T23:24:06.527200
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-03 (fullstack) — 2026-05-17T23:24:33.997844
- Backend: PASS (health only)
- Frontend: SKIP

---
## TASK-01 (backend) — 2026-05-23T19:08:38.587137
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-24T00:58:50.559402
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-03 (backend) — 2026-05-24T00:59:07.925050
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-02 (frontend) — 2026-05-24T00:59:26.996670
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-01 (backend) — 2026-05-24T01:43:45.449118
- Backend: PASS (health only)
- Frontend: SKIP

---
## TASK-02 (backend) — 2026-05-24T01:44:11.096704
- Backend: PASS (health only)
- Frontend: SKIP

---
## TASK-03 (backend) — 2026-05-24T01:45:26.285017
- Backend: PASS (health only)
- Frontend: SKIP

---
## TASK-04 (frontend) — 2026-05-24T01:46:04.753160
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-01 (backend) — 2026-05-24T23:15:08.888713
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c FAILED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba FAILED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-03 (backend) — 2026-05-24T23:15:32.754843
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-06 (frontend) — 2026-05-24T23:16:01.447377
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-02 (frontend) — 2026-05-24T23:16:40.446831
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-04 (frontend) — 2026-05-24T23:17:15.988894
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-05 (backend) — 2026-05-24T23:17:41.206431
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-03 (backend) — 2026-05-25T00:27:47.573802
- Backend: PASS (health only)
- Frontend: SKIP

---
## TASK-04 (frontend) — 2026-05-25T00:28:08.919904
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-05 (backend) — 2026-05-25T00:28:29.167489
- Backend: PASS (health only)
- Frontend: SKIP

---
## TASK-07 (backend) — 2026-05-25T00:29:30.032803
- Backend: PASS (health only)
- Frontend: SKIP

---
## TASK-06 (frontend) — 2026-05-25T00:29:55.603775
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-08 (frontend) — 2026-05-25T00:30:21.844270
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-09 (backend) — 2026-05-25T00:30:56.776214
- Backend: PASS (health only)
- Frontend: SKIP

---
## TASK-10 (frontend) — 2026-05-25T00:31:21.415722
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-11 (backend) — 2026-05-25T00:31:44.403641
- Backend: PASS (health only)
- Frontend: SKIP

---
## TASK-12 (frontend) — 2026-05-25T00:32:09.787973
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-02 (backend) — 2026-05-25T15:06:53.356123
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-25T15:29:38.993069
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-25T15:41:23.304287
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-25T15:41:42.448389
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-03 (backend) — 2026-05-25T15:42:18.968118
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-04 (frontend) — 2026-05-25T15:42:46.355151
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-05 (frontend) — 2026-05-25T15:43:17.870394
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-06 (backend) — 2026-05-25T15:43:36.472939
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-07 (backend) — 2026-05-25T15:44:02.938816
- Backend: PASS
- Frontend: PASS

```
...
Skipped — component=backend
```

---
## TASK-09 (frontend) — 2026-05-25T15:44:26.895924
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-10 (frontend) — 2026-05-25T15:44:56.428116
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-12 (frontend) — 2026-05-25T15:45:21.532062
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
No frontend source files yet — SKIP
```

---
## TASK-01 (backend) — 2026-05-27T09:29:06.403132
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c FAILED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba FAILED                    [100%]

================================== FAILURES =
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-28T14:51:22.809962
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [100%]

============================== warnings summa
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-28T14:52:29.599136
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 5 items

tests/test_api.py::test_health PASSED                                    [ 20%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 40%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 60%]
tests/test_api.py::test_put_products_param_2e1
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-28T15:25:29.134795
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [100%]

============================== 3 passed in 1.
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-28T15:26:30.007961
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 5 items

tests/test_api.py::test_health PASSED                                    [ 20%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 40%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 60%]
tests/test_api.py::test_put_products_param_2e1
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-28T15:40:38.730759
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [100%]

============================== 3 passed in 1.
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-28T15:41:37.240866
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 6 items

tests/test_api.py::test_health PASSED                                    [ 16%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 33%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 50%]
tests/test_api.py::test_get_products_param_6be
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-30T02:09:07.318552
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [100%]

============================== warnings summa
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-30T02:10:24.646324
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 5 items

tests/test_api.py::test_health PASSED                                    [ 20%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 40%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 60%]
tests/test_api.py::test_put_products_param_2e1
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-30T02:47:57.703234
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [100%]

============================== warnings summa
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-30T02:49:14.882875
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 5 items

tests/test_api.py::test_health PASSED                                    [ 20%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 40%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 60%]
tests/test_api.py::test_get_products_param_613
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-30T11:08:48.077837
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [100%]

============================== warnings summa
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-30T11:10:09.176926
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 6 items

tests/test_api.py::test_health PASSED                                    [ 16%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 33%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 50%]
tests/test_api.py::test_get_products_param_6be
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-30T11:29:59.769807
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 5 items

tests/test_api.py::test_health PASSED                                    [ 20%]
tests/test_api.py::test_put_inventory_param_stock_e4ec27 FAILED          [ 40%]
tests/test_api.py::test_post_inventory_deduct_fa230c PASSED              [ 60%]
tests/test_api.py::test_get_inventory_param_4b
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-30T12:38:36.347769
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________
ImportError while importing test module 'D:\Intern\pos-app-test_v2\src\services\auth_backend\tests\test_api.py'.
Hin
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-30T13:07:43.548469
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [100%]

============================== warnings summa
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-30T13:08:57.034363
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 5 items

tests/test_api.py::test_health PASSED                                    [ 20%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 40%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 60%]
tests/test_api.py::test_get_products_param_613
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-30T13:20:23.387186
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [100%]

============================== warnings summa
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-30T13:21:26.162078
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 5 items

tests/test_api.py::test_health PASSED                                    [ 20%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 40%]
tests/test_api.py::test_post_products_48842b PASSED                      [ 60%]
tests/test_api.py::test_put_products_param_2e1
Skipped — component=backend
```

---
## TASK-03 (backend) — 2026-05-30T13:22:51.389224
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_get_orders_1c3eed PASSED                         [ 66%]
tests/test_api.py::test_get_orders_param_receipt_2a487c FAILED           [100%]

================================== FAILURES =
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-30T13:30:43.836283
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 5 items

tests/test_api.py::test_health PASSED                                    [ 20%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 40%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 60%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-30T13:39:20.916729
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 3 items

tests/test_api.py::test_health PASSED                                    [ 33%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 66%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [100%]

============================== warnings summa
Skipped — component=backend
```

---
## TASK-02 (backend) — 2026-05-30T13:40:46.630264
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 0 items / 1 error

=================================== ERRORS ====================================
_____________________ ERROR collecting tests/test_api.py ______________________

    import pytest
    from fastapi.testclient import TestClient
>   from app.main import app

tests\test_api.py:3: 
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-31T19:31:00.974672
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-31T20:08:44.421604
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c FAILED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba FAILED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-05-31T20:44:17.505884
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-06-01T10:45:14.341368
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-06-01T13:40:29.944139
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-06-01T14:20:17.969635
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-06-01T15:14:11.545336
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-06-01T15:23:26.707736
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-06-01T19:53:15.950687
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```

---
## TASK-02 (frontend) — 2026-06-01T19:54:04.976087
- Backend: PASS
- Frontend: PASS

```
Skipped — component=frontend
node_modules not found — skip
```

---
## TASK-03 (backend) — 2026-06-01T19:55:14.946136
- Backend: FAIL
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 6 items

tests/test_api.py::test_health PASSED                                    [ 16%]
tests/test_api.py::test_get_products_7ad9f9 PASSED                       [ 33%]
tests/test_api.py::test_get_products_param_613b6c FAILED                 [ 50%]
tests/test_api.py::test_post_products_48842b F
Skipped — component=backend
```

---
## TASK-01 (backend) — 2026-06-01T22:58:12.576797
- Backend: PASS
- Frontend: PASS

```
============================= test session starts =============================
collecting ... collected 4 items

tests/test_api.py::test_health PASSED                                    [ 25%]
tests/test_api.py::test_post_auth_signup_c6dc0c PASSED                   [ 50%]
tests/test_api.py::test_post_auth_login_fe43ba PASSED                    [ 75%]
tests/test_api.py::test_post_auth_refresh_0440
Skipped — component=backend
```
